body {
  background-color: #FAFBFD;
  background: linear-gradient(-179deg, transparent 0%, rgba(0,0,0,0.05) 100%) no-repeat;
  min-height: 100vh;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.container {
  display: flex;
  width: 100%;
}

.column {
  flex-basis: 33%;
  padding: 10px;
}

.column > h1 {
  font-size: 1em;
}

.column.column--todo {
  order: 1;
}

.column.column--development {
  order: 2;
}

.column.column--acceptance {
  order: 3;
}

.column.column--release {
  order: 4;
}

.column.column--done {
  order: 5;
}

.row {
  width: 100%;
  overflow: hidden
}

input[type=text] {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid grey;
}

input[type=text]:focus {
  outline: 0;
  border-bottom-color: blue
}

.u-push-bottom {
  margin-bottom: 20px;
}

.u-font-small {
  font-size: 0.9em;
}
